.content-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 97vh;
    width: 100%;
    padding: 0 10vw;
    
}

.content-pane h2 {
    font-size: 60px;
    border: 3px solid var(--secondary-light-color);
    border-radius: 2rem;
    padding: 1rem 4rem;
}

.content-image-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content-item {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 100%;
}

.content-item .description {
    display: inline-block;
    color: var(--accent-color);
    font-size: 24px;
    background-color: var(--secondary-light-color);
    padding: 2rem;
    border-radius: 0 2rem 2rem 0;
    width: 30vw;
    margin-right: 2rem;
    height: 100%;
    transition: transform 1s ease-out;
    z-index: 1;
    box-shadow: -1rem -1rem 1.3rem rgba(0, 0, 0, 0.5);
}

.content-item img {
    height: 50vw;
    width: 50vw;
    max-width: 70vh;
    max-height: 70vh;
    border-radius: 3rem;
    margin-top: 2rem;
    z-index: 2;
    box-shadow: -1rem -1rem 1.3rem rgba(0, 0, 0, 0.5);
}

  /* Fade Animation */
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1.5s ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 1.5s ease-in;
  }
  
  .fade-enter .description {
    transform: translateX(-100%);
  }

  .fade-exit-active .description {
    transform: translateX(-100%);
  }


@media screen and (max-width: 900px) {
    .content-pane {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .content-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-item img {
        height: 90vw;
        width: 90vw;
        margin: 2rem;
        margin-bottom: 0;
    }

    .content-item .description {
        height: 12rem;
        width: 75vw;
        text-align: center;
        border-radius: 0 0 2rem 2rem;
        margin: 0;
    }

    .fade-enter .description {
        transform: translateY(-100%);
      }
    
      .fade-exit-active .description {
        transform: translateY(-100%);
      }
}



