.panel-title {
    display: inline-block;
    height: 8rem;
    margin-bottom: 1rem;
}



.contact-input {
    display: inline-block;
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    margin: 1rem 0;
    border-radius: 2rem;
    border: solid 4px var(--accent-color);
    padding: 0.5rem 2rem;
}

@media (max-width: 768px) {
    .contact-input {
        align-self: center;
        width: 80%;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.progress-button {
    padding: 0.4rem 2.5rem;
    background-color: var(--accent-color);
    color: var(--light-color);
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 5;
    border: solid 2px var(--primary-color)
}

.progress-button:hover {
    background-color: var(--secondary-light-color);
    color: var(--accent-color);
  }

.progress-button:disabled {
    background-color: var(--primary-color);
    color: var(--secondary-light-color);
    cursor: default;
}