.panel-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "title title title"
        "input input input"
        "back gap next";
    align-content: center;
    gap: 1rem;
}

.panel-title {
    grid-area: title;
    color: var(--accent-color);
}

.contact-input {
    grid-area: input;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: solid 4px var(--accent-color);
    padding: 0.5rem 2rem;
}


.back-button {
    margin-left: 2rem;
    grid-area: back;
}

.forward-button {
    grid-area: next;
    margin-right: 2rem;
}

.progress-button {
    padding: 0.4rem 2.5rem;
    background-color: var(--accent-color);
    color: var(--light-color);
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 5;
    border: solid 2px var(--primary-color)
}

@media (min-width: 2500px) {
    .back-button{
        margin-left: 10rem;
    }

    .forward-button {
        margin-right: 10rem;
    }
}




.progress-button:hover {
    background-color: var(--secondary-light-color);
    color: var(--accent-color);
  }

.progress-button:disabled {
    background-color: var(--primary-color);
    color: var(--secondary-light-color);
    cursor: default;
}