.content-internal {
    width: 100%;
    height: 100%;
}

.input-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}


.panel-title {
    color: var(--primary-color);    
}

.keyword-text {
    color: var(--accent-color);
}

.contact-input {
    height: 4rem;
    font-size: 1.2rem;
    width: 90%;
    border-radius: 2rem;
    border: none 4px var(--accent-color);
    padding: 0.5rem 2rem;
    box-shadow: -0.7rem 0.7rem 1.6rem rgba(0, 0, 0, 0.7);
}

.progress-button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background-color: var(--accent-color);
    border: solid 2px var(--accent-color);
    color: var(--light-color);
    border-radius: 50%;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
    box-shadow: -0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.6);
}


.back-button {
    position: relative;
    float: left;
    left: -4.5rem;
    bottom: 50%;
}

.forward-button {
    position: relative;
    float: right;
    right: -4.5rem;
    bottom: 50%;
}


.progress-button:hover {
    background-color: var(--secondary-light-color);
    border: solid 2px var(--secondary-light-color);

    color: var(--accent-color);
  }

.progress-button:disabled {
    background-color: var(--primary-color);
    color: var(--secondary-light-color);
    border: solid 2px var(--primary-color);
    cursor: default;
}