.timeline-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    opacity: 0;
    margin: 2rem 0 2rem 0;
    position: absolute;
    z-index: 1;
    }
  
  .timeline-item.right {
    left: 50%;
  }
  
  .timeline-item.left {
    right: 50%;
  }
  
  .timeline-item.left .timeline-icon,
  .timeline-item.right .timeline-icon {
    position: absolute;
    z-index: 2;
  }
  
  .timeline-item.left .timeline-icon {
    left: calc(100% - 2rem);
  }
  
  .timeline-item.right .timeline-icon {
    left: calc(-2rem);
  }
  
  .timeline-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: #333;
    z-index: 2;
    border: solid 3px var(--secondary-light-color);
    color: #fff;
    
  }
  
  @media (max-width: 850px) {
    .timeline-info {
      position: relative;
      max-width: 80%;
      z-index: 1;
      margin: 0 calc(10%);
    }
  }
    
  @media (min-width : 850px) {
    .timeline-info {
      position: relative;
      max-width: 50%;
      z-index: 1;
      margin: 0 calc(10%);
    }
  }


  .timeline-content {
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f9f9f9;
    line-height: 30px;
    z-index: 3;
  }
  
  
  .timeline-details li{
    position: absolute;
    background-color: var(--seconary-color);
    color: var(--secondary-light-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  
  .timeline-content:hover .timeline-details li{
    visibility: visible;
    opacity: 1;
    transform: translateY(100%);
    transition: all 0.5s ease;
    z-index: 4;
  }


  .timeline-connector {
    position: absolute;
    width: 50%;
    height: 0.5rem;
    z-index: 0;
  }

  .timeline-connector.right {
    left: 0;
  }

  .timeline-connector.left {
    right: 0;
  }

  .timeline-duration {
    position: absolute;
    width: 7px;
    z-index: 1;
    top: 50%;
  }
  
  .timeline-duration.left {
    right: 0;
  }
  
  .timeline-duration.right {
    left: 0;
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  