.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: var(--secondary-color);
    background-color: var(--light-color);
    overflow: hidden;
  }
  

  .timeline-line {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--secondary-color);
    left: 50%;
    z-index: 1;
  }
  
  
