.timeline-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 2rem 0 2rem 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
    }
  
  .timeline-item.right {
    left: 50%;
  }
  
  .timeline-item.left {
    right: 50%;
    
  }

  .leftSlideIn {
    animation: slideInLeft 2s ease-out forwards;
  }

  .rightSlideIn {
    animation: slideInRight 2s ease-out forwards;
  }
  
  .timeline-icon {
    position: absolute;
    z-index: 2;
  }
  
  .timeline-item.left .timeline-icon {
    left: calc(100% - 2rem);
  }
  
  .timeline-item.right .timeline-icon {
    left: calc(-2rem);
  }
  
  .timeline-icon {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: #333;
    z-index: 2;
    border: solid 3px var(--secondary-light-color);
    color: #fff;
    
  }

  .timeline-icon.animate.right {
    display: flex;
    animation: slideInRight 2s ease forwards;
  }

  .timeline-icon.animate.left {
    display: flex;
    animation: slideInLeft 2s ease forwards;
  }

  .timeline-info {
    display: none;
  }

  .timeline-info.animate.left {
    display: block;
    animation: bounceLeft 2.2s ease-out forwards;
  }

  .timeline-info.animate.right {
    display: block;
    animation: bounceRight 2.2s ease-out forwards;
  }
  
  @media (max-width: 850px) {
    .timeline-info {
      position: relative;
      max-width: 70%;
      z-index: 1;
      margin: 0 calc(15%);
    }
  }
    
  @media (min-width : 850px) {
    .timeline-info {
      position: relative;
      max-width: 50%;
      z-index: 1;
      margin: 0 calc(10%);
    }
  }


  .timeline-content {
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f9f9f9;
    line-height: 30px;
    z-index: 3;
  }

  .timeline-content:hover .timeline-details li{
    visibility: visible;
    opacity: 1;
    transform: translateY(100%);
    transition: all 0.5s ease;
    z-index: 4;
  }
  
  
  .timeline-details li{
    position: absolute;
    background-color: var(--seconary-color);
    color: var(--secondary-light-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }


  .timeline-connector {
    display: none;
    position: absolute;
    width: 50%;
    height: 0.5rem;
    z-index: 0;
  }

  .timeline-connector.animate.right {
    display: block;
    left: 0;
    animation: connectorRight 2s ease forwards;
  }

  .timeline-connector.animate.left {
    display: block;
    right: 0;
    animation: connectorLeft 2s ease forwards;
  }


  .timeline-duration-container {
    position: absolute;
    z-index: 1;
    opacity: 1;
    top: 50%;
    overflow: hidden;
  }

  .timeline-duration-container.right {
    left: 0;
    width: 3rem;
  }

  .timeline-duration-container.left {
    right: 0;
    width: 7px;
  }

  .timeline-duration {
    display: none;
    position: absolute;
    width: 7px;
    z-index: 1;
    opacity: 1;
  }

  .timeline-duration.aniamte.left {
    right: 0;
  }
  
  .timeline-duration.animate.right {
    left: 0;
  }

  .timeline-duration.animate {
    display: block;
    animation: slideInTop 4s ease forwards;
  }
  
  

  /* Animation for timeline items, in order */

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
    
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes bounceLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    20% {
      transform: translateX(-100%);
      opacity: 1;
    }
    70% {
      transform: translateX(20%);
      opacity: 1;
    }
    85% {
      transform: translateX(-10%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes bounceRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    20% {
      transform: translateX(100%);
      opacity: 1;
    }
    70% {
      transform: translateX(-20%);
      opacity: 1;
    }
    85% {
      transform: translateX(10%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes connectorLeft {
    from {
      transform: translateX(-50%);
      opacity: 1;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes connectorRight {
    from {
      transform: translateX(50%);
      opacity: 1;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


  @keyframes slideInTop {
    0% {
      opacity: 1;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }