.about-me-section {
  padding: 2rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto 2rem;
}


.profile-head {
  width: 200;
  height: 200;
  border-radius: 50%;
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
}


.profile-head img {
  width: 100%;
  height: auto;
}

.category-button {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button.workExperience {
  grid-column: 1;
  grid-row: 1;
}

.category-button.education {
  grid-column: 3;
  grid-row: 1;
}

.category-button.skills {
  grid-column: 1;
  grid-row: 3;
}

.category-button.interests {
  grid-column: 3;
  grid-row: 3;
}

.category-button.active {
  background-color: #4caf50;
}

.content-container {
  text-align: center;
  background-color: var(--secondary-light-color);
  color: var(--secondary-color);
  width: 60vw;
  /* set height to grow with content */
  height: auto;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 1rem;
  transition: height 0.3s ease;
}

.connecting-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}