.category-button {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: var(--font-size-normal);
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .category-button:hover {
    background-color: var(--secondary-color);
  }
  
  .category-button.active {
    background-color: var(--secondary-color);
  }
  