.resume-page {
  background-color: var(--seconary-light-color);
  }

  .section-title {
    margin-top: 1.5rem;
  }
  
  .download-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 3rem;
    background-color: var(--accent-color);
    color: var(--light-color);
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 3rem;
    z-index: 5;
    border: solid 2px var(--primary-color)
  }

  .download-button:hover {
    background-color: var(--secondary-light-color);
    color: var(--accent-color);
  }
  