.resume-page {
  background-color: var(--seconary-light-color);
  }

  .section-title {
    margin-top: 1.5rem;
  }
  
  .download-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border-radius: 10px;;
    font-size: var(--font-size-normal);
    border: none;
    cursor: pointer;
    margin: 1rem;
    z-index: 5;
    border: solid 1px var(--secondary-color)
  }

  .download-button:hover {
    background-color: var(--secondary-light-color);
    color: var(--secondary-color);
  }
  