
.contact-title {
  font-size: 5rem;
  font-style: italic;
  margin-top: 3rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 0 1rem 0 1rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}


.progress-circle {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem;
  width: auto;
}

.rc-progress-circle {
  position: relative;
  width: 100%;
}

.progress-percent {
  display: inline;
  position: absolute;
  align-self: center;
  font-size: 5rem;
}


@media (min-width: 900px) {
  .contact-content {
    flex-direction: row;
    margin-top: 10vh;
  }

  .progress-circle {
    width: 30%;
    height: 30%;
    min-width: 300px;
    max-width: 700px;
  }

  .contact-container {
    width: 40%;
  }

  .contact-title {
    margin-left: 5rem;
  }
}

.footer-text {
  margin: 0.5rem;
  position: fixed;
  bottom: 6.3rem;
  left: 5vw;
  font-size: 1.5rem;
}


.social-media-section {
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 4;
  background-color: var(--secondary-light-color);
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0.8rem 0;
}

.social-icon {
  color: var(--accent-color);
  font-size: 3rem;
  transition: color 0.4s;
}

.social-icon:hover {
  color: var(--secondary-color);
}

