.contact-section {
  padding: 2rem 0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem 0 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

label {
  color: var(--accent-color);
  font-weight: bold;
}

input {
  display: inline-block;
}

.form-floating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 1rem 0 1rem 0;
}


.form-control {
  border: 3px solid var(--accent-color);
  transition: border-color 0.3s;
  
  height: 2rem;
  border-radius: 0.5rem;
}

.form-control:focus {
  outline: none;
  border-color: var(--dark-color);
}

.form-control.error {
  border-color: red;
  color: red;
}

.form-label.error{
  color: red;
}

.form-control::placeholder {
  /*light grey color */
  color: #a2a2a2;
  padding-left: 0.5rem;
}


.submit-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--light-color);
  font-size: var(--font-size-normal);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.5rem;
}

.submit-button:hover {
  background-color: var(--dark-color);
}

.progress-circle {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2rem;
}

.rc-progress-circle {
  position: relative;
  width: 100%;
}

.progress-percent {
  display: inline;
  position: absolute;
  align-self: center;
  font-size: 5rem;
}

@media (min-width: 768px) {
  .contact-content {
    flex-direction: row;
  }
}


.social-media-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.social-icon {
  color: var(--accent-color);
  font-size: 2.5rem;
  transition: color 0.3s;
}

.social-icon:hover {
  color: var(--dark-color);
}



.map-section {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.map-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}