.contact-header-container {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

.contact-header {
  margin: 0 1.5rem;
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-light-color);
  border-radius: 2rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 20%;
}


.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 0 1rem 0 1rem;
  margin: 1rem 0;
}




.social-media-section {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 4;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0 20%;
  margin: 3rem 0;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-light-color);
  color: var(--accent-color);
  font-size: 3rem;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: color 0.4s;
}

.social-icon:hover {
  color: var(--secondary-color);
}

