.contact-section {
  padding: 2rem 0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem 0 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.form-floating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 1rem 0 1rem 0;
}


.form-control {
  border: none;
  border-bottom: 2px solid var(--accent-color);
  transition: border-color 0.3s;
  
  height: 2rem;
  border-radius: 0.5rem;
}

.form-control:focus {
  outline: none;
  border-color: var(--dark-color);
}

.form-control.invalid {
  border-color: red;
}

.form-control::placeholder {
  color: transparent;
}

.form-control:not(:placeholder-shown) + label,
.form-control:focus + label {
  transform: translateY(-1.2em) scale(0.8);
}
.submit-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--light-color);
  font-size: var(--font-size-normal);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.5rem;
}

.submit-button:hover {
  background-color: var(--dark-color);
}

.contact-text {
  flex: 1;
  padding: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .contact-content {
    flex-direction: row;
  }
}


.social-media-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.social-icon {
  color: var(--accent-color);
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icon:hover {
  color: var(--dark-color);
}

.map-section {
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.map-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
